.Name {
    font-size: 100%;
}

.col1 {
    width: auto;
    float: none;
    margin-right: 0;
}

.col2 {
    width: 50%;
    float: none;
    margin: 0 auto;
}

.Menu {
  font-size: 35%;
  width: 50%;
  display: inline;

}

.content {
    font-size: 18px;
}

h1 {
    font-size: 1.5em;
}

.diagramTitle {
    font-size: 16px;
}

.diagramImage {
    width: 100%;
}